<!-- <div class="list-menu">


  <div class="item-group list-group ">

    <a routerLink="/admin" class="list-group-item list-group item-action mb-3 text-center">
      <i class="fa fa-user fa-5x text-center mb-1" aria-hidden="true"></i><br>
      <b>Admin Menu</b>
    </a>

    <a routerLink="/admin/addMovie" class="list-group btn btn-outline-primary mb-2"> Film Ekle</a>
    <a routerLink="/admin/addCategory" class="list-group btn btn-outline-primary mb-2"> Kategori Ekle</a>
    <a routerLink="/admin/getMovies" class="list-group btn btn-outline-primary mb-2"> Filmler</a>
    <a routerLink="/admin/getCategories" class="list-group btn btn-outline-primary mb-2"> Kategoriler</a>
  </div> -->

  <mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header> 
        <mat-panel-title class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <i class="fa fa-user text-center p-1" aria-hidden="true"></i>
            <span class="ml-2">Admin Menü</span>
          </div>
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/>
            </svg>
          </div>
        </mat-panel-title>
        
      
      </mat-expansion-panel-header>
      <a routerLink="/admin/settings" class="list-group btn btn-outline-primary mb-2">Site Ayarları</a>
      <a routerLink="/admin/addActor" class="list-group btn btn-outline-primary mb-2"> Oyuncu Ekle ve Düzenle</a>
      <a routerLink="/admin/addMovie" class="list-group btn btn-outline-primary mb-2"> Film Ekle</a>
      <a routerLink="/admin/addCategory" class="list-group btn btn-outline-primary mb-2"> Kategori Ekle</a>
      <a routerLink="/admin/getMovies" class="list-group btn btn-outline-primary mb-2"> Filmleri Düzenle Ve Sil</a>
      <a routerLink="/admin/getCategories" class="list-group btn btn-outline-primary mb-2"> Kategoriler</a>
      <a routerLink="/admin/Survey" class="list-group btn btn-outline-primary mb-2"> Anketler</a>
    </mat-expansion-panel>
  </mat-accordion>