<h2 mat-dialog-title>Hikaye Ekle</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="storyForm">
    <mat-form-field appearance="fill">
      <mat-label>Ad</mat-label>
      <input matInput formControlName="name" placeholder="Hikaye Adı">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Resim URL</mat-label>
      <input matInput formControlName="imgUrl" placeholder="Resim URL'si">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>İptal</button>
  <button mat-button (click)="addStory()" [mat-dialog-close]="true" cdkFocusInitial>Ekle</button>
</mat-dialog-actions>
