.navbar-nav {
    margin-left: auto; /* Navbar öğelerini sağa yasla */
}

.navbar-nav .nav-item {
    margin-right: 10px; /* Menü öğeleri arasında sağ boşluk bırak */
}

.navbar-nav .nav-item a:hover {
color:	#F73859;
}
.navbar-bg{
    background-color: #1d252e;


}
.navbar-nav .nav-item .nav-link{
color: #EDEDED;
}
.logo{
    max-height: 50px;
    max-width: 100px;
}
.form-control{
    width: 25rem;
}

