.navbar-nav {
    margin-left: auto; /* Navbar öğelerini sağa yasla */
}

.navbar-nav .nav-item {
    margin-right: 10px; /* Menü öğeleri arasında sağ boşluk bırak */
}

.navbar-nav .nav-item a:hover {
color:	#dc143c;
}

