form {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;

    border-radius: 8px;

  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="url"],
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  textarea {
    height: 80px;
    resize: vertical;
  }
  
  button[type="button"] {
    padding: 6px 12px;
    margin-top: 5px;
    font-size: 14px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="button"]:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul li {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f1f1f1;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul li button {
    padding: 4px 8px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  ul li button:hover {
    background-color: #c82333;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button[type="submit"]:hover {
    background-color: #218838;
  }
  
  .mat-tab{
    color: #f3f3f3;
  }

::ng-deep .mdc-tab__text-label {
    color: #f3f3f3 !important; /* Başlık metin rengini beyaz yap */
}

::ng-deep .mat-mdc-tab.mat-mdc-tab--active .mdc-tab__text-label {
    color: #ffffff !important; /* Aktif olan tab başlık rengini beyaz yap */
    background-color: #F73859 !important; /* Aktif olan tab için arka plan rengini koyu gri yap */
}

::ng-deep .mat-mdc-tab.mat-mdc-tab--active .mat-mdc-tab-labels {
  background-color: #F73859 !important; /* Aktif olan tab için arka plan rengini kırmızı yap */
}

::ng-deep .mat-mdc-tab-indicator {
    background-color: #f3f3f3 !important; /* Altındaki seçili tabı gösteren barın rengini beyaz yap */
}
