
.container-statistic {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .statistic {
    margin-bottom: 10px;
  }
  
  .statistic p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  