<div *ngIf="statisticModel" class=" bg-dark container container-statistic m-2">
    <h2>Üye İstatistikleri</h2>
    <div class="statistic">
      <p><strong>Toplam Üye Sayısı:</strong> {{statisticModel.regUserTotalCount}} </p>
    </div>
    <div class="statistic">
      <p><strong>Toplam Film Sayısı:</strong>  {{statisticModel.movieTotalCount}}</p>
    </div>
    <div class="statistic">
      <p><strong>Toplam Oy Sayısı:</strong>  {{statisticModel.ofVotesTotalCount}} </p>
    </div>
  </div>

    <h2 class="text-center">Filmler Tablosu</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Oy Id</th>
          <th scope="col">Film İsmi</th>
          <th scope="col">Kullanıcı İsmi</th>
          <th scope="col">Verdiği Oy</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of statisticModel.statistics">
          <td> {{item.oyId}}</td>
          <td> {{item.movieName}}</td>
          <td>{{item.userName}}</td>
          <td>{{ item.useVote}}</td>
        </tr>
        <!-- <tr *ngIf="voteStatistic.length == 0">
          <td colspan="4" class="text-center">Listelenecek oy bulunamadı.</td>
        </tr> -->
      </tbody>
    </table>
    <p-paginator 
    (onPageChange)="onPageChange()" 
    [first]="page"
    [rows]="size" 
    [totalRecords]="statisticModel.ofVotesTotalCount" 
    [rowsPerPageOptions]="[10, 20, 30]" />

  