<div class="container">

<div *ngIf="movie else no_movie">
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img [src]="movie.imageUrl" class="img-fluid rounded-start w-100" alt="{{movie.movieName}}">
            </div>
            <div class="col-md-8">
                <iframe width=100% height=50% 
                [src]="safeUrl"
                title="YouTube video player" 
                frameborder="1" 
                autoplay="1"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
                referrerpolicy="strict-origin-when-cross-origin" 
                allowfullscreen></iframe>
                     <!-- Like & Dislike Buttons -->
                     <div class="like-dislike-container">
                    <img *ngIf="!likeActive" class="hand" src="/assets/icons/like.png" (click)="likeVideo()">
                    <img *ngIf="likeActive" class="hand" src="/assets/icons/liked.png" (click)="likeVideo()">
                    <img *ngIf="!dislikeActive" class="hand m-2" src="/assets/icons/dislike.png" (click)="dislikeVideo()">
                    <img *ngIf="dislikeActive" class="hand m-2" src="/assets/icons/disliked.png" (click)="dislikeVideo()">
                       veya istersen <label class="hand" (click)="scrollToYorumYap()" ><b>Yorum yap</b></label>
                       <p-progressBar class="" [value]="likesYuzdesi" />
                    </div>
                <div class="card-body">
                    <h1 class="card-title">
                        {{movie.movieName}}
                        <span class="star" *ngFor="let star of getStars(movie.rate)">
                            {{star}}
                        </span>
                    </h1>
                    <p class="card-text">{{movie.description}}</p>
                    <b>{{movie.releaseDate | date : 'y'}}</b> yılında vizyona girmiştir.
                </div>
            </div>
        </div>
    </div>
<div *ngIf="movie.actors.length>0 else no_Actor">
    <!-- Oyuncuları Gösterme Bölümü -->
    <h2 class="text-center">Oyuncular</h2>
    <div class="container text-center">
        <div class="row">
          <div  *ngFor="let actor of movie.actors" class="col order-last">
            <img class="rounded actor" src="{{actor.imageUrl}}">
            <h5 class="card-title text-white">{{actor.name}}</h5>    
          </div>
        </div>
      </div>
</div>

<ng-template #no_Actor>
    <div class="alert alert-warning">Oyuncu Bulunamadı</div>
</ng-template>
</div>

<ng-template #no_movie>
    <div class="alert alert-warning">Film Bulunamadı</div>
</ng-template>
<hr>
<div *ngIf="isLogin()" id="yorumYap" class="mt-4">
    <!-- Yorum alanınız burada -->
    <h2>Yorum Yap</h2>
    <textarea #content class="form-control" rows="4" placeholder="Yorumunuzu buraya yazın..."></textarea>
    <button (click)="addComment(content, movie.id)" class="btn btn-primary mt-2">Gönder</button>
</div>
<label *ngIf="!!commentHata" class="text-danger">{{commentHata}}</label>
<div *ngIf="yorumlar.length > 0; else no_comment" id="yorumlar" class="mt-5">
    <h2>Yorumlar</h2>
    <div class="card mb-3" *ngFor="let yorum of yorumlar">
        <div class="card-body">
            <h5 class="card-title">{{yorum.userName}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{yorum.commentedOn| date:'medium'}}</h6>
            <p class="card-text">{{yorum.content}}</p>
        </div>
    </div>
</div>
<div *ngIf="yorumlar.length > 0 && this.size < totalCount">
<button (click)="loadMore()" class="btn btn-outline-warning">Daha fazla yükle</button>

</div>
<ng-template #no_comment>
    <div class="alert alert-warning">Daha önce hiç yorum atılmamış</div>
</ng-template>

</div>