<div class="container my-3">
  <div class="row">
    <div class="col-md-3">
      <app-menu></app-menu>
    </div>
    <div class="col-md-9">
      <div class="mb-3">
        <input
            [(ngModel)]="filterText"
            (keyup)="onInputChance()"
            type="text"
            class="form-control"
            placeholder="Film ara.."
        >
        <small class="text-muted" *ngIf="filterText"> Aradığınız kelime {{filterText}}</small>
    </div>


    <h2 *ngIf="isUserActive == true; else no_movies"> Kullanıcı aktif</h2>
        
    <ng-template #no_movies>
      <div class="alert alert-warning">Kullanıcı aktif değil</div>
    </ng-template>



      <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let item of filtredMovies">
          <div class="card" style="width: 100%;">
            <img class="card-img-top" src="{{item.imageUrl}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{item.movieName}}</h5>
              <p class="card-text">{{item.description}}</p>
              <button (click)="openUpdateMovieModal(item.id)" class="btn btn-primary">Düzenle</button>
              <a href="#" class="btn btn-danger m-2">Sil</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
